.vertical {
	max-height: 600px;
	overflow: auto;
}

.box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.center {
	text-align: center;
}

.modal-header {
	background-color: lightgrey;
}